.home {
    background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}


header {
    background-color: #67D1FE;
    padding: 15px 20px;
    height: 45px;
    line-height: 1px;
}

.p-25-20 {
    padding: 25px 20px;
}

.pl-30 {
    padding-left: 30px;
}

.m-b-5 {
    margin-top: 3px;
}

.m-l-5 {
    margin-left: 5px;
}

header i {
    color: #ffffff;
}

.h-home-icon{
    margin-left: 35px;
}

.h-logout-icon {
    float: right;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -35%;
}

.text-wrapper h1 {
    text-align: center;
    color: #000000;
    font-size: 10px;
    font-family: sans-serif;
}

.main-content {
    margin: 8px;
}

.col-left {
    padding: 0px;
}

.col-right {
    padding: 0px 0px 0px 25px;
}

.col-right h1 {
    color: #03B2FD;
}

.tile {
    background-color: #09B4FD;
    border: none;
    cursor: pointer;
}

.tile:first-child {
    background-color: #EDF0F2;
}

.tile:first-child .text {
    color: #989898;
}

.tile.selected {
    background-color: #ffffff;
    border-left: 3px solid #EDF0F2;
    color: #03B2FD;
}

.tile.selected .text {
    color: #03B2FD;
}

.search-icon {
    position: relative;
    right: 25px;
    cursor: pointer;
}


.tile img {
    height: 40px;
    width: 40px;
}

.tile .text {
    font-size: 12px;
    margin-top: 10px;
    color: #ffffff;
}

.search-text-box {
    width: 86%;
    padding: 5px 5px 5px 10px;
}

.search a {
    margin-left: 12px;
    color: #F19646;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.my-search-text {
    font-size: 18px;
    color: #03B2FD;
}

.andor {
    margin: 10px
}

.or {
    margin-left: 20px;
}

.card-body {
    padding: 25px 0 25px 0;
}

.cursor-pointer {
    cursor: pointer;
}

.col-1-5 {
    flex: 0 0 12.3%;
    max-width: 12.3%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 768px) {
  .sidebar-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .m-b-5 {
        margin-left: 5px;
    }
}